@charset "utf-8";
@import url(baseLayout.css);
/* 404 layouts stylesheet
Developed by Trevor Radez */

h1 {
    text-align: center;
    font-size: 3em;
}

p#message {
    text-align: center;
    font-size: 1.25em;
}

h2 {
    padding: 1.5em;
    text-align: center;
    font-size: 2em;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: blue;
}

@media only screen and (orientation: landscape) and (min-height: 600px) {
    footer {
        position: fixed;
        bottom: 0em;
        width: 100%;
        margin: auto -8px auto;
        padding: auto;
    }
}
