@charset "utf-8";

/* Base Body and HTML Styles */
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    box-sizing: border-box;
    background-color: whitesmoke
}

/* Header Styles */
@media only screen and (max-width: 999px) {
    header ul li {
        display: list-item;
        padding: 0.5em;
    }

    header {
        height: auto;
    }
}

@media only screen and (min-width: 1000px) { 
    header ul li {
        display: inline;
        padding: 1em;
    }

    header {
        height: 3.5em;
        align-content: center;
    }
}

header {
    align-content: center;
    background-color: black;
    margin-top: -1.5em;
    margin-left: -1em;
    margin-right: -0.5em;
}

header ul {
   list-style: none;
   font-size: x-large;
   text-align: center;
   padding-top: 0.5em;
}

header ul li {
    color: white;
}

li#title {
    font-weight: bold;
}

header ul a{
    text-decoration: none;
    color: white;
}

header ul a:hover {
    text-decoration: underline;
}

header ul a:visited {
    text-decoration: none;
    color: white;
}