@charset "utf-8";
/* Base layouts stylesheet for A Thousand Words website.
Developed by Trevor Radez */

/* Base Body and HTML Styles */
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    box-sizing: border-box;
    background-color: whitesmoke;
}

/* Header Styles */
@media only screen and (max-width: 999px) {
    header ul li {
        display: list-item;
        padding: 0.5em;
    }

    header {
        height: auto;
    }
}

@media only screen and (min-width: 1000px) { 
    header ul li {
        display: inline;
        padding: 1em;
    }

    header {
        height: 3.5em;
    }
}

header {
    background-color: black;
    margin-top: -1.5em;
    margin-left: -1em;
    margin-right: -0.5em;
}

header ul {
   list-style: none;
   font-size: x-large;
   text-align: center;
   padding-top: 0.5em;
}

header ul li {
    color: white;
}

li.title {
    font-weight: bold;
}

header ul a{
    text-decoration: none;
    color: white;
}

header ul a:hover {
    text-decoration: underline;
}

header ul a:visited {
    text-decoration: none;
    color: white;
}

/* Footer Styles */

footer {
    background-color: black;
    color: white;
    margin-bottom: -1.5em;
    margin-left: -1em;
    margin-right: -0.5em;
}

footer p {
    text-align: left;
    display: inline-block;
    margin: 1em 1em 1em 1em;
    padding: 1em 1em 1em 1em;
}

footer ul {
    margin: 0em;
    padding: 1em;
    list-style: none;
    text-align: right;
    display: block;
    float: right;
}

footer ul li {
    padding: 1em 1em 1em 0em;
}

footer ul a {
    text-decoration: none;
    color: white;
}

footer ul a:hover {
    text-decoration: underline;
}

footer ul a:visited {
    text-decoration: none;
    color: white;
}


/* Footer styles for smaller screens */
@media only screen and (max-width: 660px){

    footer ul {
        display: list-item;
        float: none;
        text-align: center;
    }
    
    footer ul li {
        padding: 0em 0em 1em;
    }
}