@charset "utf-8";
@import url(baseLayout.css);
/* A Thousand Words Gallery stylesheet
Developed by Trevor Radez */

/* Gallery Stylesheet */

/* Body Styles */
h1 {
    font-size: 3em;
    text-align: center;
}

.gridContainer {
    grid-template-columns: 50% 50%;
    display: grid;
}

div.image img {
    width: 100%;
    margin: 1em auto;
    display: block;
}

div.description p {
    margin: 1em 2em;
    text-indent: 2em;
}

/* Gallery layout for smaller screens */
@media only screen and (max-width: 600px) {
    .gridContainer {
        display: inline;
    }

    div.description {
        padding-bottom: 4em;
    }

    div.description:last-of-type {
        padding-bottom: 1em;
    }

    div.image img {
        width: 92%;
    }


}