@charset "utf-8";
@import url(baseLayout.css);
/* A Thousand Words Gallery stylesheet
Developed by Trevor Radez */

/* Gallery Stylesheet */

/* Body Styles */
h1 {
    font-size: 3em;
    text-align: center;
}

.gridContainer {
    grid-template-columns: 50% 50%;
    display: grid;
}

div.image img {
    width: 100%;
    margin: 1em auto;
    display: block;
}

div.description p {
    margin: 1em 2em;
    text-indent: 2em;
}