@charset "utf-8";
@import url(baseLayout.css);
/* A Thousand Words Gallery stylesheet
Developed by Trevor Radez */

/* Gallery Stylesheet */

/* Body Styles */
h1 {
    font-size: 3em;
    text-align: center;
}

.gridContainer {
    grid-template-columns: auto auto;
    display: grid;
}

div img {
    width: 85%;
    margin: 1em auto;
    display: block;
}