@charset "utf-8";
@import url(baseLayout.css);
/* A Thousand Words homepage stylesheet
Developed by Trevor Radez */

/* Index HTML Styles */

/* Body Styles */
h1#welcomeMessage {
    text-align: center;
    font-size: 3em;
}

img#signImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img#sampleFramesImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-bottom: 1em;
}

h2 {
    text-align: center;
}
@media only screen and (min-width: 800px) {
    p {
        margin: 1em 7em 2.5em 7em;
    }
    img#signImage {
        width: 45%;
    }
}

@media only screen and (max-width: 799px) {
    p {
        margin: 1em 4em 2.5em 4em;
    } 
    img#signImage {
        width: 55%;
    }
}
p {
    text-align: center;
}